@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand Bold';
  src: url('../public//fonts/Quicksand-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand Light';
  src: url('../public/fonts/Quicksand-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand Medium';
  src: url('../public/fonts/Quicksand-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand Regular';
  src: url('../public/fonts/Quicksand-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand Semi Bold';
  src: url('../public/fonts/Quicksand-SemiBold.ttf');
  font-display: swap;
}
